.mainContainer {
  padding: 0 10%;
}

/*Common*/
.padding-10 {
  padding: 10px;
}

/*Color*/

.purple {
  color: #803c8a;
}

.danger {
  color: #eb5656;
}

.streams {
  margin: 1rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  & > * {
    margin: 1rem;
  }
}

.stream__dragging {
  position: absolute;
  width: 370px;
  height: calc(100% + 71px);
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 5;

  display: flex;
  justify-content: center;
  align-items: center;

  & > img {
    height: 35px;
    width: 35px;
    margin-bottom: 44px;
  }
}

.sortable-ghost {
  opacity: 0;
}

.empty-list:after {
  background-image: url("../../../assets/group_drag_drop.svg");
  background-repeat: no-repeat;
  background-position: center;
  content: "Drag items here to add \A them to the group.";
  white-space: pre-wrap;
  text-align: center;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.handle {
  cursor: grab;
}
