.mainContainer {
  padding: 0 10%;
}

/*Common*/
.padding-10 {
  padding: 10px;
}

/*Color*/

.purple {
  color: #803c8a;
}

.danger {
  color: #eb5656;
}

.streams {
  margin: 1rem 0;
  display: flex;

  & > * {
    margin: 1rem;
  }
}

.stream__dragging {
  position: absolute;
  width: 370px;
  height: calc(100% + 71px);
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 5;

  display: flex;
  justify-content: center;
  align-items: center;

  & > img {
    height: 35px;
    width: 35px;
    margin-bottom: 44px;
  }
}
