/*Stream Processor Monitor*/
.monitor {

}
.monitor__tabs {
  border-bottom: 1px solid #803C8A;
}
.monitor__tabs_scroll {
  margin: auto;
  margin-bottom: 0 !important;
  height: 45px !important;
  width: 825px;
}
.monitor__tabs_scroll .scroll_tab_left_button {
  width: 45px !important;
  height: 45px !important;
  left: -45px !important;
  background: transparent !important;
}
.monitor__tabs_scroll .scroll_tab_left_button:before {
  position: absolute;
  width: 12px;
  height: 12px;
  left: 20px;
  top: 17px;
  border: 1.52px solid #803C8A;
  box-sizing: border-box;
  transform: rotate(-45deg);
  content: "" !important;
  border-bottom: 0;
  border-right: 0;
  content: "" !important;
}
.monitor__tabs_scroll .scroll_tab_right_button {
  width: 45px !important;
  height: 45px !important;
  right: -45px !important;
  background: transparent !important;
}
.monitor__tabs_scroll .scroll_tab_right_button:before {
  position: absolute;
  width: 12px;
  height: 12px;
  right: 20px;
  top: 17px;
  border: 1.52px solid #803C8A;
  box-sizing: border-box;
  transform: rotate(-45deg);
  content: "" !important;
  border-top: 0;
  border-left: 0;
  content: "" !important;
}
.monitor__tabs_scroll .scroll_tab_inner {
  text-align: center;
  height: 45px !important;
}
.monitor__tabs_scroll .scroll_tab_inner span {
  width: 163px;
  height: 45px;
  padding: 0 !important;
  text-align: center;
  background: #D1C5DA;
  border-radius: 5px 5px 0 0;
  font-family: Helvetica Neue, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px !important;
  color: #803C8A !important;
  margin: 0 1px;
  line-height: 45px !important;
}
.monitor__tabs_scroll .scroll_tab_inner span.tab_selected {
  background: linear-gradient(249.07deg, #803C8A 16.56%, #FFCDCE 274.83%);
  color: #FFFFFF !important;
}
.monitor__body {

}
.monitor__body_tab {
  display: none;
  padding-top: 34px;
  padding-bottom: 34px;
}
.monitor__body_tab_child {
  display: block;
}
.monitor__body_tab_child_header {
  width: 100%;
  height: 45px;
  background: linear-gradient(200.66deg, #803C8A 16.56%, #FFCDCE 274.83%);
  border-radius: 5px 5px 0px 0px;
  display: block;
  line-height: 45px;
  text-align: center;
  font-family: Helvetica Neue, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  color: #FFFFFF;
}

.monitor__body_tab_child_content {
  background: #FFFFFF;
  box-shadow: 0px 6px 12px rgba(164, 109, 255, 0.1);
  border-radius: 0px 0px 5px 5px;
}

.content_status {
  display: flex;
  padding-top: 49px;
  padding-bottom: 49px;
}

.content_status_col {
  flex: 1;
  text-align: center;
  padding-top: 19px;
  padding-bottom: 19px;
}
.content_status_col.border_right {
  border-right: 1px solid #D1C5DA;
}
.content_status_amount {
  font-family: Helvetica Neue, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 49px;
  color: #803C8A;
}
.content_status_amount span {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
}
.content_status_desc {
  font-family: Helvetica Neue, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 16px;
  color: #503B53;
}
.inboud_event_chart_total {
  font-size: 133px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inboud_event_chart_total .pie-wrapper.progress-90 .pie .left-side {
  transform: rotate(30deg);
}
.inboud_event_chart_total .pie-wrapper.progress-90 .pie .right-side {
  transform: rotate(150deg);
}
.inboud_event_chart_total .pie-wrapper.progress-90 .pie .half-circle {
  border-color: #D1C5DA;
}
.inboud_event_chart_total .pie-wrapper .label {
  background: linear-gradient(263.7deg, #803C8A 16.56%, #FFCDCE 274.83%);
}

.inboud_event_chart_total .pie-wrapper {
  margin: 0 !important;
}

.content_charts {
}

.content_charts_nav {
  display: flex;
  padding: 20px 0;
}

.content_charts_nav li:first-child {
  border-right: 1px solid #803C8A;
}

.content_charts_nav > li > a {
  font-family: Helvetica Neue, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 16px;
  color: #803C8A;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  opacity: 0.5;
}

.content_charts_nav > li > a.active {
  opacity: 1;
}

.content_charts_nav > li > a:focus, .content_charts_nav > li > a:hover {
  background-color: transparent !important;
}

.content_charts .tab-content .tab-pane {
  margin-right: 39px;
}

.monitor__body_child_linter {
  text-align: center;
}
