/*Stream Processor Monitor*/
.monitor {
  button.MuiTab-root {
    width: 163px;
    height: 45px;
    border-radius: 5px 5px 0px 0px;
    background: #d1c5da;
    margin: 0 1px;

    &.Mui-selected {
      background: linear-gradient(249.07deg, #803c8a 16.56%, #ffcdce 274.83%);
      color: #ffffff;
    }

    &:focus {
      outline: none;
    }

    .MuiTab-wrapper {
      text-transform: capitalize;
    }

    .span {
      font-weight: bold;
      font-size: 16px;
      line-height: 20px;
      color: #803c8a !important;
    }
  }

  .MuiAppBar-root {
    box-shadow: none !important;
    background: transparent;
    text-transform: unset !important;
  }
}

.monitor__tabs {
  border-bottom: 1px solid #803c8a;
  padding: 0 132px;
}

.monitor__tabs_scroll {
  margin: auto;
  margin-bottom: 0 !important;
  height: 45px !important;
  width: 825px;
}

.monitor__tabs_scroll .scroll_tab_left_button {
  width: 45px !important;
  height: 45px !important;
  left: -45px !important;
  background: transparent !important;
}

.monitor__tabs_scroll .scroll_tab_left_button:before {
  position: absolute;
  width: 12px;
  height: 12px;
  left: 20px;
  top: 17px;
  border: 1.52px solid #803c8a;
  box-sizing: border-box;
  transform: rotate(-45deg);
  content: "" !important;
  border-bottom: 0;
  border-right: 0;
  content: "" !important;
}

.monitor__tabs_scroll .scroll_tab_right_button {
  width: 45px !important;
  height: 45px !important;
  right: -45px !important;
  background: transparent !important;
}

.monitor__tabs_scroll .scroll_tab_right_button:before {
  position: absolute;
  width: 12px;
  height: 12px;
  right: 20px;
  top: 17px;
  border: 1.52px solid #803c8a;
  box-sizing: border-box;
  transform: rotate(-45deg);
  content: "" !important;
  border-top: 0;
  border-left: 0;
  content: "" !important;
}

.monitor__tabs_scroll .scroll_tab_inner {
  text-align: center;
  height: 45px !important;
}

.monitor__tabs_scroll .scroll_tab_inner span {
  width: 163px;
  height: 45px;
  padding: 0 !important;
  text-align: center;
  background: #d1c5da;
  border-radius: 5px 5px 0 0;
  font-family: Helvetica Neue, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px !important;
  color: #803c8a !important;
  margin: 0 1px;
  line-height: 45px !important;
}

.monitor__tabs_scroll .scroll_tab_inner span.tab_selected {
  background: linear-gradient(249.07deg, #803c8a 16.56%, #ffcdce 274.83%);
  color: #ffffff !important;
}

.monitor__body {
}

.monitor__body_tab {
  display: none;
  padding-top: 34px;
  padding-bottom: 34px;
}

.monitor__body_tab_child {
  display: block;
}

.monitor__body_tab_child_header {
  width: 100%;
  height: 45px;
  background: linear-gradient(200.66deg, #803c8a 16.56%, #ffcdce 274.83%);
  border-radius: 5px 5px 0px 0px;
  display: block;
  line-height: 45px;
  text-align: center;
  font-family: Helvetica Neue, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  color: #ffffff;
}

.monitor__body_tab_child_content {
  background: #ffffff;
  box-shadow: 0px 6px 12px rgba(164, 109, 255, 0.1);
  border-radius: 0px 0px 5px 5px;
}

.content_status {
  display: flex;
  padding-top: 49px;
  padding-bottom: 49px;
}

.content_status_col {
  flex: 1;
  text-align: center;
  padding-top: 19px;
  padding-bottom: 19px;
}

.content_status_col.border_right {
  border-right: 1px solid #d1c5da;
}

.content_status_amount {
  font-family: Helvetica Neue, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 49px;
  color: #803c8a;
}

.content_status_amount span {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
}

.content_status_desc {
  font-family: Helvetica Neue, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 16px;
  color: #503b53;
}

.inboud_event_chart_total {
  font-size: 133px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inboud_event_chart_total .pie-wrapper.progress-90 .pie .left-side {
  transform: rotate(30deg);
}

.inboud_event_chart_total .pie-wrapper.progress-90 .pie .right-side {
  transform: rotate(150deg);
}

.inboud_event_chart_total .pie-wrapper.progress-90 .pie .half-circle {
  border-color: #d1c5da;
}

.inboud_event_chart_total .pie-wrapper .label {
  background: linear-gradient(263.7deg, #803c8a 16.56%, #ffcdce 274.83%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.inboud_event_chart_total .pie-wrapper {
  margin: 0 !important;
}

.content_charts {
  width: 400px;
  height: 150px;
}

.content_charts_nav {
  display: flex;
  padding: 20px 0;

  li {
    padding: 0 11px;
    line-height: 16px;
  }

  li:first-child {
    border-right: 1px solid #803c8a;
  }

  li > a {
    font-family: Helvetica Neue, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 16px;
    color: #803c8a;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    opacity: 0.5;
    text-decoration: none;

    &.active {
      opacity: 1;
    }
  }
}

.content_charts_nav > li > a:focus,
.content_charts_nav > li > a:hover {
  background-color: transparent !important;
}

.content_charts .tab-content .tab-pane {
  margin-right: 39px;
}

.monitor__body_child_linter {
  text-align: center;
}

.set-size {
  font-size: 10em;
}

.charts-container:after {
  clear: both;

  content: "";

  display: table;
}

.pie-wrapper {
  height: 1em;

  width: 1em;

  float: left;

  margin: 15px;

  position: relative;
}

.pie-wrapper:nth-child(3n + 1) {
  clear: both;
}

.pie-wrapper .pie {
  height: 100%;

  width: 100%;

  clip: rect(0, 1em, 1em, 0.5em);

  left: 0;

  position: absolute;

  top: 0;
}

.pie-wrapper .pie .half-circle {
  height: 100%;

  width: 100%;

  border: 0.1em solid #3498db;

  border-radius: 50%;

  clip: rect(0, 0.5em, 1em, 0);

  left: 0;

  position: absolute;

  top: 0;
}

.pie-wrapper .label {
  background: #34495e;

  border-radius: 50%;

  bottom: 0.4em;

  color: #ecf0f1;

  cursor: default;

  display: block;

  font-size: 0.25em;

  left: 0.4em;

  line-height: 2.6em;

  position: absolute;

  right: 0.4em;

  text-align: center;

  top: 0.4em;
}

.pie-wrapper .label .smaller {
  color: #bdc3c7;

  font-size: 0.45em;

  padding-bottom: 20px;

  vertical-align: super;
}

.pie-wrapper .shadow {
  height: 100%;

  width: 100%;

  border: 0.1em solid #bdc3c7;

  border-radius: 50%;
}

.pie-wrapper.style-2 .label {
  background: none;

  color: #7f8c8d;
}

.pie-wrapper.style-2 .label .smaller {
  color: #bdc3c7;
}

.pie-wrapper.progress-30 .pie .right-side {
  display: none;
}

.pie-wrapper.progress-30 .pie .half-circle {
  border-color: #3498db;
}

.pie-wrapper.progress-30 .pie .left-side {
  transform: rotate(108deg);
}

.pie-wrapper.progress-60 .pie {
  clip: rect(auto, auto, auto, auto);
}

.pie-wrapper.progress-60 .pie .right-side {
  transform: rotate(180deg);
}

.pie-wrapper.progress-60 .pie .half-circle {
  border-color: #9b59b6;
}

.pie-wrapper.progress-60 .pie .left-side {
  transform: rotate(216deg);
}

.pie-wrapper.progress-90 .pie {
  clip: rect(auto, auto, auto, auto);
}

.pie-wrapper.progress-90 .pie .right-side {
  transform: rotate(180deg);
}

.pie-wrapper.progress-90 .pie .half-circle {
  border-color: #e67e22;
}

.pie-wrapper.progress-90 .pie .left-side {
  transform: rotate(324deg);
}

.pie-wrapper.progress-45 .pie .right-side {
  display: none;
}

.pie-wrapper.progress-45 .pie .half-circle {
  border-color: #1abc9c;
}

.pie-wrapper.progress-45 .pie .left-side {
  transform: rotate(162deg);
}

.pie-wrapper.progress-75 .pie {
  clip: rect(auto, auto, auto, auto);
}

.pie-wrapper.progress-75 .pie .right-side {
  transform: rotate(180deg);
}

.pie-wrapper.progress-75 .pie .half-circle {
  border-color: #8e44ad;
}

.pie-wrapper.progress-75 .pie .left-side {
  transform: rotate(270deg);
}

.pie-wrapper.progress-95 .pie {
  clip: rect(auto, auto, auto, auto);
}

.pie-wrapper.progress-95 .pie .right-side {
  transform: rotate(180deg);
}

.pie-wrapper.progress-95 .pie .half-circle {
  border-color: #e74c3c;
}

.pie-wrapper.progress-95 .pie .left-side {
  transform: rotate(342deg);
}

.pie-wrapper--solid {
  border-radius: 50%;

  overflow: hidden;
}

.pie-wrapper--solid:before {
  border-radius: 0 100% 100% 0%;

  content: "";

  display: block;

  height: 100%;

  margin-left: 50%;

  transform-origin: left;
}

.pie-wrapper--solid .label {
  background: transparent;
}

.pie-wrapper--solid.progress-65 {
  background: linear-gradient(to right, #e67e22 50%, #34495e 50%);
}

.pie-wrapper--solid.progress-65:before {
  background: #e67e22;

  transform: rotate(126deg);
}

.pie-wrapper--solid.progress-25 {
  background: linear-gradient(to right, #9b59b6 50%, #34495e 50%);
}

.pie-wrapper--solid.progress-25:before {
  background: #34495e;

  transform: rotate(-270deg);
}

.pie-wrapper--solid.progress-88 {
  background: linear-gradient(to right, #3498db 50%, #34495e 50%);
}

.pie-wrapper--solid.progress-88:before {
  background: #3498db;

  transform: rotate(43.2deg);
}

.newStepCard {
  border-radius: 5px;
  background-color: white;
  padding: 10px;
  display: flex;
  border: solid 1.5px #ffffff;
  align-items: center;
  width: 100%;
  margin: 2%;
  box-shadow: 4px 4px 10px rgba(128, 60, 138, 0.22);
}

//move to modal styles
.stepType {
  display: flex;
  justify-content: space-between;
}

.add-modal-body {
  padding: 2.5rem !important;
}

//andrecky
.newStep {
  display: flex;
  flex-direction: column;

}

